################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs/Server/v15
/Server/Server.sln
/Server/__init__.pyc
/Server/Server1.pyperf
/Server/Server.pyperf
/Server/tests/unit_tests.pyc
/Server/scripts/dijkstra_algorithm.pyc
/Server/models/emergency_route.pyc
/Server/models/__init__.pyc
