################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs/Server/v15
/Server/Server.sln
/Server/__init__.pyc
/Server/Server1.pyperf
/Server/Server.pyperf
/Server/tests/unit_tests.pyc
/Server/scripts/dijkstra_algorithm.pyc
/Server/models/emergency_route.pyc
/Server/models/__init__.pyc
/Server/models/global_route.pyc
*.pyc
/Server/routes_backup_2018-02-20-11-01-25
/Server/routes_backup_2018-02-20-11-00-59
/Server/routes_backup_2018-02-20-11-00-39
/Server/routes_backup_2018-02-20-11-00-20
/Server/routes_backup_2018-02-20-11-00-00
/Server/routes_backup_2018-02-20-10-59-40
/Server/routes_backup_2018-02-20-10-59-15
/Server/routes_backup_2018-02-20-10-58-52
/Server/routes_backup_2018-02-20-10-58-15
/Server/routes_backup_2018-02-20-10-57-56
/Server/routes_backup_2018-02-20-10-57-36
/Server/routes_backup_2018-02-20-10-56-54
/Server/routes_backup_2018-02-20-10-56-34
/Server/routes_backup_2018-02-20-10-56-09
/Server/routes_backup_2018-02-20-10-55-31
/Server/routes_backup_2018-02-19-19-44-51
/Server/routes_backup_2018-02-19-19-44-11
/Server/routes_backup_2018-02-19-19-43-45
/Server/routes_backup_2018-02-19-19-30-43
/Server/routes_backup_2018-02-19-19-30-20
/Server/routes_backup_2018-02-19-19-29-58
/Server/routes_backup_2018-02-19-19-29-20
/Server/routes_backup_2018-02-19-19-28-52
/Server/routes_backup_2018-02-19-19-28-16
/Server/routes_backup_2018-02-19-19-25-07
/Server/routes_backup_2018-02-19-19-24-33
/Server/routes_backup_2018-02-19-19-23-58
/Server/routes_backup_2018-02-19-19-23-27
/Server/routes_backup_2018-03-25-17-22-51
