<!DOCTYPE html>
<html>
<head>

    <title>Quick Start - Leaflet</title>
    <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="/static/javascript/traffic_control.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
    <script src="/static/javascript/menu.js"></script>
    <link rel="stylesheet" href="/static/css/Stylesheet.css" />
    <style>
        #map {
            height:100%;
            width: 100%;
        }

        #mapcontainer {
            height: 50%;
            width: 100%;
        }
    </style>

</head>
<body onload="ShowJunction(MarkerClick);">
    <div class="container">
        <div class="row">
            <div class="eleven columns">
                <h2>Dynamic Routing System - Add Junction</h2>
            </div>
            <div class="one column">
                <div class="five columns">
                    <div id="hamburger" class="containerhamburger" onclick="toggleHamburger(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                    <div id="menubar">
                        <div class="menucontainer">
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="six columns offset-by-four">
                                        <a class="button" id="menuitem" href="/">Home</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="six columns offset-by-four">
                                        {% if data %}
                                        <a class="button" id="menuitem" href="/logout">Logout</a>
                                        {% else %}
                                        <a class="button" id="menuitem" href="/login">Login</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% if session['logged_in'] %}
                            <div class="row">
                                <div class="twelve columns">
                                    <div class="six columns offset-by-four">
                                        <a class="button" id="menuitem" href="/config">Update Configuration</a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="twelve columns">
                                    <div class="six columns offset-by-four">
                                        <a class="button" id="menuitem" href="/add_junction/">Add Junction</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" id="mapcontainer">
        <div id="map"></div>
    </div>


    <div class="container">
        <div class="container">
            <div class="row">
                <div class="three columns">
                    <label class="three columns">Selected Junction:</label>
                    <label class="three columns" id="RouteName"></label>
                </div>
                <div class="nine columns">
                    <label class="two columns">Selected Latitude:</label>
                    <label class="two columns" id="Lat"></label>
                    <label class="two columns">Selected Longitude:</label>
                    <label class="two columns" id="Lon"></label>

                </div>
            </div>
            <div class="row">
                <div class="four columns">
                    <label for="junc_name">Junction Name</label>
                    <input class="u-full-width" name="Junction Name" , id="JuncName">
                    <label for="junc_name">Speed</label>
                    <input class="u-full-width" name="Speed" id="Speed">
                </div>
                <div class="four columns">
                    <label for="junc_name">Road Type 1 - 5 (1=Trunk Road)(5=side street)</label>
                    <input class="u-full-width" name="Speed" id="RoadType">
                </div>
                <div class="four columns">
                    <label for="exampleEmailInput">&nbsp;</label>
                    <input type="submit" value="Submit" onclick="Submit()">
                </div>
            </div>
        </div>
    </div>


    <script>
        var map = L.map('map').setView([52.635897, -1.132896], 15);
        var markers = []
        L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'OSM' })
            .addTo(map);
        var juncIcon = L.icon({
            iconUrl: '/junc_icon.png',
            iconSize: [32, 32],
            shadowSize: [0, 0]
        });

        var popup = L.popup();
        // this is holding the lat and lon of the selected junction
        var SelectedJunc = "";

        customMarkerRoute = L.Marker.extend({
            options: {
                CustomData: 'Custom data!',
                CustomLatLon: 'Custom LatLon'
            }
        });

        function MarkerClick(e) {
            SelectedJunc = e.target.options.CustomLatLon.toString();
            document.getElementById("RouteName").innerHTML = e.target.options.CustomData.toString();
        }

        function onMapClick(e) {
            popup
                .setLatLng(e.latlng)
                .setContent("You clicked the map at " + e.latlng.toString())
                .openOn(map);
            document.getElementById("Lat").innerHTML = e.latlng.lat.toString();
            document.getElementById("Lon").innerHTML = e.latlng.lng.toString();
        }
        map.on('click', onMapClick);

        function Submit() {


            var xhr = new XMLHttpRequest();

            xhr.open('POST', '/add_junction/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            selectedJunction = document.getElementById("RouteName").innerHTML;
            Lat = document.getElementById('Lat').innerHTML;
            Lon = document.getElementById('Lon').innerHTML;
            JuncName = document.getElementById('JuncName').value;
            Speed = document.getElementById('Speed').value;
            RoadType = document.getElementById('RoadType').value;
            LatLon = Lat.toString() + '//' + Lon.toString();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
                    // Request finished and success here
                    console.log(xhr.XMLHttpRequest);
                    alert("Success");
                    // make sure we refresh the webpage to see the results.
                    location.reload();
                }
                else if (xhr.status != 200) {
                    alert(xhr.responseText.toString())
                }
            }
            xhr.send(JSON.stringify({
                'SelectedJunction': selectedJunction,
                'NewLatLon': LatLon,
                'OldLatLon': SelectedJunc,
                'JuncName': JuncName,
                'Speed': Speed,
                'RoadType': RoadType
            }));
        }
    </script>



</body>
</html>
