<html>
<head>
    <title>Dynamic routing System - Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
    <script src="MovingMarker.js"></script>
    <script src="/static/javascript/traffic_control.js"></script>
    <script src="/static/javascript/menu.js"></script>
    <link rel="stylesheet" href="/static/css/Stylesheet.css" />

    <script type="text/javascript">
        {% if session['auth_token'] %}
            var AuthToken = " {{ session['auth_token'] }} "
            init({{AuthToken }});
        {% endif %}
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="seven columns">
                <h2>Dynamic Routing System - Home</h2>
            </div>
            {% block content %}
            {% if data %}
                <div class="four columns" id="welcomeheading">
                    <h4>Welcome {{ data }}</h4>
                </div>
            {% endif %}
            {% if error %}
                <h4>Error! {{ error }}!</h4>
            {% endif %}
            {% endblock %}
            {% if data %}
            <div class="one column">
            {% else %}
            <div class="five columns">
            {% endif %}
                <div id="hamburger" class="containerhamburger" onclick="toggleHamburger(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div id="menubar">
                    <div class="menucontainer">
                        <div class="row">
                            <div class="twelve columns">
                                <div class="six columns offset-by-four">
                                    <a class="button" id="menuitem" href="/index">Home</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                <div class="six columns offset-by-four">
                                    {% if data %}
                                    <a class="button" id="menuitem" href="/logout">Logout</a>
                                    {% else %}
                                    <a class="button" id="menuitem" href="/login">Login</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if session['logged_in'] %}
                        <div class="row">
                            <div class="twelve columns">
                                <div class="six columns offset-by-four">
                                    <a class="button" id="menuitem" href="/config.html">Update Configuration</a>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="twelve columns">
                                <div class="six columns offset-by-four">
                                    <a class="button" id="menuitem" href="/add_junction/">Add Junction</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="TimeTaken">
            <div class="four columns">
                <h3>Time Taken: <h3 id="time_taken"></h3></h3>
            </div>
            <div class="four columns">
                <h3>Time Taken (Non dynamic): <h3 id="time_taken_non_dynamic"></h3></h3>
            </div>
        </div>

        <div class="container">
            <div id="map"></div>
            <div id="slidecontainer">
                <input type="range" min="200" max="3000" value="3000" class="slider" id="myRange">
                <p>Value: <span id="demo"></span></p>
            </div>
            <div id="junctionToggle">
                <button onclick="PrepShowJunction()">Show Junctions</button>
                <button onclick="HideJunctions()">Hide Junctions</button>
                {% if session['logged_in'] %}
                <button onclick="GenerateEmergency()">Dispatch Emergency Vehicle</button>
                {% endif %}
            </div>
        </div>

        <script type="text/javascript">
            var map = L.map('map').setView([52.635897, -1.132896], 15);
            var markers = []
            var showJunctions = false
            var JuncInterval = 1000
            L.tileLayer('https://a.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'OSM' })
                .addTo(map);

            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function () {
                getNewCarsInterval = this.value;
                output.innerHTML = getNewCarsInterval;
                clearInterval(interval);
                interval = 0;
                interval = window.setInterval(function () {
                    httpGetAsync("/", process_coord);
                }, getNewCarsInterval);
            }
                //var interval = window.setInterval(function () {
                //    httpGetAsync("/", process_coord);
                //}, 1000);
        </script>

    </body>
    </html>
